services:



  auth-service:
    build:
      context: ./auth_service
      dockerfile: Dockerfile
    ports:
      - "5002:5000"  # host 5002 -> container 5000
    env_file:
      - .env
    depends_on:
      - notification-service


  notification-service:
    build:
      context: ./auth_service/notification-service
    ports:
      - "5001:5001"
